/*
* 1200px 以上
*/
@media screen and (min-width: 1200px) {
  .heard-left{
    display: none;
  } 
}
/*
*1200px-1080px
*/
@media screen and (max-width: 1200px){
  .home-list .item-big{
    width: 700px;
  }
  .home-list .item-litter{
    width: 420px;
  }
}
@media screen and (max-width: 1160px){
  .home-list .item-big{
    width: 100%
  }
  .home-list .item-litter{
    width: 50%;
  }
}
/*
*1080px-990px
*/
@media screen and (max-width: 1080px){
  .banner .logo{
    height: 65px;
  }
  .banner .logo-wrap {
    height:65px;
  }
  .banner .pc-heard{
    top: 65px;
  }
  .pc-heard .pc-nav{
    justify-content: center;
  }
  .banner .pc-heard {
    height: 60px;
  }
  .pc-heard .pc-nav ul{
    height: 60px;
  }
  .pc-heard .pc-nav ul li {
    height: 60px;
    line-height: 50px;
  }
  .pc-heard .pc-nav ul li a {
    height: 60px;
    line-height: 50px;
  }
  .pc-heard .heard-left{
    display: none;
  } 
  .footerbox .footeritem {
    width: 25% !important;
  }
  .solution .solutionitem {
    width: 49%;
  }
  .casebox .caselist {
    width: 49%;
  }
  .developmentlist .developmentlistleft{
    left: 0px;
  }
  .developmentlist  .developmentlistright{
    right: 0px;
  }

}
/*
*鏈€澶�990px锛屽墠闈㈡渶澶�1080px锛屽悗闈㈡渶澶�767px
*/
@media screen and (max-width: 990px){
 /* 重点 */
  .logo .logoname {
    display: none;
  }
  .logo .logo-wrap {
    justify-content:center;
    text-align: center;
  }
  .logo .logo-wrap img{
    width: 80%;
  }
  .consultationbox .item{
    width: 49% !important;
  }
}
/*
*鏈€澶�767px锛屽墠闈㈡渶澶�990px锛屽悗闈㈡渶澶�600px
*/
@media screen and (max-width: 767px){
 /* 重点 */
 .banner .pc-heard{
   display: none;
 }
 .logo .logo-wrap .logoimg {
   width: 60%;
 }
 .logo .logo-wrap img{
  width:100%;
}
 .logo .logo-wrap {
  width: 100%;
  justify-content:space-around;
}
 .banner .logo-wrap .nav-move{
   display: block;
 }
 .item-big .big-text,.item-litter .big-text{
    width: 80%;
  }
  .wrapbox ul li{
    margin-right: 10px !important;
  }
  .productlist .producitem {
    width: 100%;
  }
  .technologylist .technology {
    padding: 0 20px;
    width: 100%;
  }
  .wrap-productnav div{
    width: 70px !important;
  }
  .solutiondetlist span {
    width: 30%;
    margin-bottom: 30px;
  }
  .newlist .newImg {
    width: 100%;
  }
  .newlist  .newContent{
    width: 100%;
  }
  .newContentTitle span{
    width: 100% !important;
    margin: 5px 0;
  }
  .newContentContent {
    padding: 0 !important;
  }
  .wrapbox {
    padding:0 15px !important;
  }
  .brand .brand-list , .brand .brand-video {
    width: 100%;
  }
  .branditem .brand-name{
    margin: 10px 0;
  }
  .branditem  .brand-center{
    margin: 10px 0;
  }
  .moverbrand .moverItem{
    width: 49%;
  }
  .aboutus-listone .listone-text{
    padding: 0;
  }
  .aboutus-listone .listone-text,.aboutus-listone .listone-img {
    width: 100%;
  }
  .technologyaboutus-listone .listone-text{
    padding: 0;
  }
  .technologyaboutus-listone .technologylistone-text,.technologyaboutus-listone .technologylistone-img {
    width: 100%;
  }
  .speech .speechimg, .speech .speechcenter{
    width: 100%;
  }
  .honor .honorlist {
    width: 49%;
  }
  .contactusbox .contactusboxitem {
    width: 45% !important;
  }
  .recruit .recruitbox{
    width: 98%;
  }
  .fillbox .inp{
    width: 100%;
  }
  .developmentlist .developmentlistleft{
    left: 0px;
    display: none;
  }
  .developmentlist  .developmentlistright{
    right: 0px;
    display: none;
  }
  .developmentItembox .developmentItem{
    width:350px;
  }
}
/*
*鏈€澶�600px锛屽墠闈㈡渶澶�767px锛屽悗闈㈡渶澶�500px
*/
@media screen and (max-width:600px){

}
/*
*鏈€澶�500px锛屽墠闈㈡渶澶�600px锛屽悗闈㈡渶澶�414px
*/
@media screen and (max-width:500px){

}
/*
*鏈€澶�414px锛屽墠闈㈡渶澶�500px
*/
@media screen and (max-width: 414px){

}