/* 首页 */
img {
  width: 100%;
}
.wrap{
  max-width: 1200px;
  height: auto;
  margin: auto;
  padding:0 10px;
  box-sizing: border-box;
}
.banner{
  position: relative;
  height: auto;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  background: #002C76;
  width: 100%;
  height: 144px;
  z-index: 9999;
}
.logo-wrap {
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pc-heard {
  position: absolute;
  top: 144px;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0,44,118, 0.7);
  z-index: 9999;
}
.nav-move {
  display: none;
}
.pc-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pc-nav ul {
  width: 800px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pc-nav ul li {
  width: 100px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  margin-right: 28px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}
.pc-nav ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 70px;

}
.pc-nav ul li.act{
  background: url(../images/nav-banner.png) no-repeat center center;
}
.pc-nav ul li.act a{
  color: #000;
}
.heard-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.heard-left a{
  margin-left: 11px;
}
.heard-left div{
  width: 170px;
  height: 30px;
  border:1px solid #fff;
  display: flex;
  border-radius: 15px;
  padding: 0 10px;
}
.heard-left div img {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}
.heard-left div input{
  width: 130px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}
.swiper-container img{
  width: 100%;
}
/* 移动端标题 */
.headerm {
  opacity: 0;
  position: absolute;
  top:-300%;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0,44,118, 0.7);
  z-index: 99999;
  transition: all 1s;
}
.headerm ul{
  width:90%;
  margin: 0 auto;
}
.headerm li{
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.headerm li a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  color: #fff;
}
footer{
  background: #002C76;
  overflow: hidden;
}
.bottomlogo {
  max-width: 150px;
}
.footerbox {
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap ;
}
.footeritem {
  color: #fff;
  text-align: center;
  width: 13%;
  height: 200px;
  margin-bottom: 30px;
}
.footeritem p {
  height: 30px;
  line-height: 30px;
}
.footeritem img {
  max-width: 100px;
}
.footer-title {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}
.copyright {
  font-size: 10px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center
}

.wrap-nav {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  margin-bottom: -40px;
}
.wrapbox {
  height: 80px;
  background:#002C76; 
  padding: 0 30px;
}
.wrapbox ul {
  display: flex;
  line-height: 80px;
}
.wrapbox ul li {
  height: 80px;
  line-height: 80px;
  margin-right: 50px;
}

.wrapbox ul li a{
  color: #fff;
}
.wrapbox ul li.wrapbox-act a{ 
  color: #ddd;
}
/* 列表 */
.home-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.item-big ,.item-litter {
  margin-bottom: 40px;
  position: relative;
}
.big-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  margin-left: 40px;
  margin-bottom: 20px;
  color: #fff;
}
.big-text p:nth-child(1) {
  width: 100%;
  font-size: 20px;
  margin-bottom: 14px;
}
.big-text p:nth-child(2) {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.consultation-name {
  width: 210px;
  height: 90px;
  margin: 0 auto 20px;
}
.consultationbox{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap ;
  margin-top: 80px;
}
.consultationbox .item{
  width: 22%;
  margin-bottom: 30px;
}
.itemTitle {
  width: 100%;
  height: 200px;
  background: #F2F2F2;
  padding: 30px;
  box-sizing: border-box;
  color: #002C76;
  transition: all 1s;
}
.itemTitle p {
  height: 100px;
  line-height: 25px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;
}

.itemTitle a {
  display: block;
  color: #002C76;
  margin-top: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  transition: all 1s;

}
.itemTitle a i{
  display:block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  background: url(../images/right-act.png) no-repeat center center;
}
.itemTitle:hover{
  background: #002C76;
  color: #fff;
}
.itemTitle:hover a{
  color: #fff;
}
.itemTitle:hover a i{
  background: url(../images/right.png) no-repeat center center;
}
/* 解决方案 */
.solution {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.solutionitem {
  width: 23%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.solutionitem:hover  .solutionname{
  background: #002C76;
  bottom: 0px;

}
.solutionitem:hover  .solutionname p:nth-child(1) {
  color: #fff;
}
.solutionname {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,0.80);
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 1s;
}
.solutionname p:nth-child(1) {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: 0;
}
.solutionname p:nth-child(2) a{
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.solutionname p:nth-child(2) img {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
/* 产品详情页 */
.solutiondet .back{
  display: flex;
  align-items: center;
}
.solutiondet .back img{
  width: 14px;
  height: 24px;
  margin-right: 10px;
}
.solutiondet p{
  font-size: 16px;
  line-height: 25px;
  color: #4A4A4A;
  margin-bottom: 30px;
}
.solutiondetname {
  font-size: 24px;
  color: #4A4A4A;
}
.solutiondetlist {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  font-size: 16px;
  color: #4A4A4A;
}
.solutiondetlist span{
  display:block;
}
/* 工程案例 */
.casebox{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.caselist {
  width: 32%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.caselist:hover .caselist-text {
  bottom: 0;
  background:#002C76;
  color: #fff;
}
.caselist-text {
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 100%;
  height: 130px;
  background: #F2F2F2;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all 1s;
}
.caselist-text p:nth-child(1){
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.caselist-text p:nth-child(2){
  color: #fff;
  line-height: 20px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
}
.newlist {
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #E3E3E3;
  cursor: pointer;
}
.newlist:hover {
 background: #FFFFFF;
 box-shadow: 0 0 4px 4px rgba(227,227,227,0.50);
 border-radius: 5px;
}
.newImg {
  width: 30%;
}
.newContent {
  width: 65%;
}
.newContentTitle {

  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.newContentTitle span:nth-child(1){
  font-size: 20px;
  color: #4A4A4A;
  width: 70%;
  height: 25px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.newContentTitle span:nth-child(2){
  width:30%;
  height: 25px;
  font-size: 14px;
  color: #4A4A4A;
  text-align: right;
}
.newContentContent {
  width: 100%;
  padding-right: 20%;
  line-height: 30px;
  height: 120px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;
  margin-bottom: 20px;
  color: #4A4A4A;
}
.timer {
  margin-bottom: 20px;
  color: #4A4A4A;
}
.page {
  width: 250px;
  height: 30px;
  margin: 30px auto 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.page i{
  display: block;
  width: 14px;
  height: 24px;
}
.page i img {
  height: 100%;;
}
.page span {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #032F7D;
  cursor: pointer;
}
.page span.page-act{
  background: #002C76;
  border-radius: 5px;
  color: #fff;
}
/* 新闻详情页 */
.newdetails .newdetailstitel{
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #4A4A4A;
}
.newdetails .newdetailsTime{
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  font-size: 16px;
  color: #4A4A4A;
  margin-top: 20px;
}
.newdetailcenter p{
  font-size: 14px;
  color: #4A4A4A;
  line-height: 25px;
  text-indent: 2em;
  margin:5px 0;
}
.newback {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.newback a{
  font-size: 16px;
  color: #4A4A4A;
  margin-bottom: 20px;
}
.share{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.share  a{
  margin-right: 10px;
}
/* 播放列表 */
.brand{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.brand-list {
  width: 50%;
  display: flex;
  justify-content:center;
  margin-bottom: 50px;

}
.branditem {
  width: 600px;
}
.brand-name {
  font-size: 24px;
  color: #4a4a4a;
  margin:50px 0;
}
.brand-center {
  line-height: 25px;
  font-size: 14px;
  color: #4A4A4A;
  margin:50px 0;
}
.brand-mover {
  color: #002C76;
  display: flex;
  align-items: center;
}
.brand-mover img{
  width: 30px;
  height: 18px;
  margin-right: 10px;
}
.brand-video {
  width: 50%;
  margin-bottom: 50px;
  position: relative;
}
.brand-videoplay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(000, 000, 000, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-videoplay img{
  width: 60px;
  height: 40px;
}
/* 更多视频 */
.moverbrand{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.moverItem {
  width: 24%;
  margin-bottom: 30px;
}
.moverItem:hover .moverbrand-title{
  background: #002C76;
  color: #fff;
}
.moverItem:hover .moverbrand-title p:nth-child(2) i{
  background: url(../images/right.png) no-repeat center center;
}
.moverbrand-title {
  height: 150px;
  width: 100%;
  background: #F2F2F2;
  padding: 0 30px;
  color: #002C76;
  transition: all 1s;
}
.moverbrand-title p {
  line-height: 75px;
}
.moverbrand-title p:nth-child(1){
  font-size: 16px;
}
.moverbrand-title p:nth-child(2) i{
  padding: 20px;
  background: url(../images/right-act.png) no-repeat center center;
}
/* 关于我们 */
.aboutus-nav ul {
  display: flex;
  justify-content: center;
}
.aboutus-nav ul li {
  margin: 0 10px;
  font-size: 16px;
  color: #4A4A4A;
  cursor: pointer;
}
.aboutus-nav ul li.aboutus-navact {
  color: #032F7D;
}
.aboutus-list .aboutus-listone {
  justify-content:space-between;
  flex-wrap: wrap;
}
.aboutus-listtwo {
  justify-content:space-between;
  flex-wrap: wrap;
}
.aboutus-listtwo img {
  width: 100%;
}
.technologyitem {
  margin-bottom: 30px;
}
.listone-text {
  padding: 50px 0;
  line-height:25px;
  color: #4A4A4A;
  width: 53%;
}
.listone-img {
  width: 45%;
}
.show {
  display: flex;
}
.hide{
  display: none;
}
/* 发展历程 */
.development{
  width: 100%;
  height: 250px;
  background: url(../images/aboutus/4.png) no-repeat center center;
}
.developmentlist {
  width: 100%;
  height: 100%;
  position: relative;
}
.developmentlistleft,.developmentlistright{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.developmentlistleft{
  left: -100px;
}
.developmentlistright {
  right: -100px;
}
.developmentItembox {
  width:100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.developmentlistbox{
  position: absolute;
  left: 0;
  top:0;
  transition: all 1s;
}
 .developmentItem{
  width: 400px;
  height: 250px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.developmentName {
  font-size: 30px;
  color: #032F7D;
}
.developmentCenter {
  padding: 0 20%;
  font-size: 16px;
  color: #032F7D;
}
.line {
  width: 100%;
  height: 2px;
  background: #002C76;
  margin: 30px 0;
  position: relative;
}
.linedian{
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #002C76;
  border-radius: 50%;
}
/* 致辞 */
.speech{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.speechimg {
  width: 30%;
}
.speechcenter {
  width: 60%;
  padding:50px;
}
.speechcenter p {
  font-size: 14px;
  line-height: 25px;
  color: #4A4A4A;
  margin: 20px 0;
}
/* 技术中心 */
.technology{
  width: 48%;
  background: #F2F2F2;
  padding: 0 40px;
  margin-bottom: 30px;
  transition: all 1s;
  box-sizing: border-box;
}
.technology p {
  height: 75px;
  line-height: 75px;
  font-size: 16px;
  color: #4A4A4A;
}
.technology p:nth-child(1){
  font-size: 18px;
  color: #4A4A4A;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.technology:hover {
  background: #002C76;
}
.technology:hover p {
  color: #fff;
}
.technology p:nth-child(2) a{
  color:#002C76;
}
.technology:hover p:nth-child(2) a{
  color: #fff;
}
.technology:hover p:nth-child(2) .technology-icon {
  background: url(../images/right.png) no-repeat center center;
}
.technology-icon {
  padding: 20px;
  background: url(../images/right-act.png) no-repeat center center;
}
.technologylist {
  overflow: hidden;
}
.technologylist>div{
  justify-content:space-between;
  flex-wrap: wrap;
}

.technologylist-span {
  width: 100%;
  display: flex;
  justify-content:center;
}
.technologylist-span span{
  display: block;
  width: 60px;
  height: 4px;
  background: #F2F2F2;
  margin: 0 10px;
  cursor: pointer;
}
.technologylist-span span.span-act{
  background: #002C76
}
.honor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.honorlist {
  width: 23%;
  margin-bottom: 30px;
}
.honorname {
  width: 100%;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background: #002C76;
  font-size: 20px;
  color: #FFFFFF;
}
/* 联系我们 */
.contactustitle {
  font-size: 28px;
  color: #032F7D;
  margin: 20px 0;
}
.contactus p {
  font-size: 14px;
  color: #4A4A4A;
  margin: 20px 0;
  line-height: 25px;
}
.map {
  position: relative;
}
.contactusbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  max-width: 1200px;
  width: 100%;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 4px 4px rgba(205,205,205,0.50);
}

.contactusbox .contactusboxitem {
  display: flex;
  align-items: center;
  height: 100px;
  width: 35%;
  font-size: 16px;
  color: #032F7D;
}
.contactusbox .contactusboxitem img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
/* 联系我们 */
.recruit {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recruitbox{
  width: 48%;
  height: 60px;
  overflow: hidden;
  transition: all 1s;
}
.recruitbox:hover{
  height: 900px;
}
.recruitbox:hover .icon-open{
  background: url(../images/contactus/takeup.png) no-repeat center center;
}
.recruitcenter {
  width: 100%;
  padding: 40px;
  background: #F2F2F2;
}
.recruitcenter p {
  font-size: 14px;
  color: #4A4A4A;
  line-height: 25px;
}
.delivery span{
  padding: 5px 0;
  border-bottom: 1px solid #032F7D;
  margin-right: 30px;
}
.delivery a {
  font-size: 14px;
  color: #002C76;
}
.recruittitle {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #032F7D;
  cursor: pointer;
}
.recruittitle span{
  display: flex;
  font-size: 16px;
  color: #4A4A4A;
}
.recruittitle span:nth-child(2){
  font-size: 14px;
  color: #9B9B9B;
}
.icon-open {
  padding: 0 22px;
  background: url(../images/contactus/open.png) no-repeat center center;
  margin-left: 20px;
}
/* 填写信息 */
.fill-title{
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #002C76;
  font-size: 18px;
  color: #4A4A4A;
  margin-bottom: 30px;
}
.fillbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.inp{
  width: 30%;
  border: 1px solid #9B9B9B;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.fillbox label{
  width: 25%;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #9B9B9B;
}
.fillbox span{
  display: block;
  width: 15%;
  text-align: center;
  font-size: 14px;
  color: #9B9B9B;
}
.fillbox input{
  margin: 0 3%;
}
.filltext textarea{
  padding: 10px;
  width: 100%;
  border: 1px solid #9B9B9B;
  resize:none;
  margin-bottom: 30px;
}
.uplode {
  display: flex;
  align-items: center;
}
.uplode img {
  width: 24px;
  height: 30px;
  margin-right: 20px;
}
.uplode span {
  font-size: 16px;
  color: #032F7D;
  padding: 10px 0;
  border-bottom: 2px solid #032F7D;
}
.uplodebtn {
  width: 160px;
  height: 50px;
  margin: 30px auto 0; 
  text-align: center;
  line-height: 50px;
  border: 1px solid #002C76;
  border-radius: 50px;
  color: #002C76;
  cursor: pointer;
}
.ejectbox {
  top: 0;
  left: 0;
  position:fixed;
  width: 100%;
  height: 100%;
  background: rgba(8, 1, 1, 0.5);
  z-index: 9999999999999999;
  display: none;
}
.popbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 200px;
  height: 200px;
  margin:auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.popbox img {
  width: 30%;
}
.popbox p {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #4A4A4A;
}
/* 产品中心 */
.productbox{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.productbox div i{
  padding: 10px;
  background: url(../images/sou-act.png) no-repeat center center;
}

.productbox div{
  width: 140px;
  border: 1px solid #9B9B9B;
  padding: 5px;
  border-radius: 59px;
}
.productbox div input {
  width: 90px;
}
.productbox span {
  display: block;
  margin-left: 10px;
  width: 60px;
  text-align: center;
}
.productlist {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;

}
.producitem{
  width: 48%;
  height: 150px;
  padding: 20px;
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  transition: all 1s;
  cursor: pointer;
}
.producitem:hover{
  background: #002C76;
}
.producitem:hover .producitem-name p:nth-child(1){
  color: #fff;
}
.producitem:hover .producitem-name p:nth-child(2) a{
  color: #fff;
}
.producitem:hover .producitem-name p:nth-child(2) .icon-mover {
  background: url(../images/right.png) no-repeat center center;
}
.producitem-img {
  width: 50%;
}
.producitem-name p:nth-child(1){
  font-size: 20px;
  color: #4A4A4A;
  margin-bottom: 30px;
}
.producitem-name p:nth-child(2) a{
  font-size: 14px;
  color: #002C76;
  width: 100px;
}
.icon-mover {
  padding: 10px;
  background: url(../images/right-act.png) no-repeat center center;
}
.productdetails-name {
  font-size: 40px;
  color: #4A4A4A;
}
.productdetails-img{
  max-width: 450px;
  margin: 30px 0;
}

.productdetails-title {
  font-size: 16px;
  color: #4A4A4A;
  margin: 20px 0;
  font-weight: bold;
}
.productdetails ul li {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #F2F2F2;
  margin-bottom: 20px;
  transition: all 1s;
}
.productdetails ul li span{
  font-size: 16px;
  color: #4A4A4A;
  font-weight: bold;
  width: 70%;
}
.productdetails ul li a{
  font-size: 14px;
  color: #002C76;
}
.productdetails ul li:hover{
  background: #002C76;
}
.productdetails ul li:hover span{
  color: #fff;
}
.productdetails ul li:hover  a{
  color: #fff;
}
.productdetails ul li:hover .icon-mover{
  background: url(../images/right.png) no-repeat center center;
}

.updown {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-back {
  padding: 10px;
  background: url(../images/solution/back.png) no-repeat center center;
}
.updown a{
  color: #4A4A4A;
}
.productclassification-title {
  font-size: 30px;
  color: #4A4A4A;
  text-align: center;
}
.productclassification-nav {
  width: 100%;
  height: 200px;
  background: #F2F2F2;
}
.wrap-productnav{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap-productnav div {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}
.wrap-productnav div:hover{
  color: #002C76;
}
.wrap-productnav div.li1 span{
  width: 100%;
  height: 100px;
  background: url(../images/productlist/1.1.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 20px;
}
.wrap-productnav div.li1 span.liact{
  background: url(../images/productlist/1.png) no-repeat center center;
  background-size: 100%;

}
.wrap-productnav div.li2 span{
  width: 100%;
  height: 100px;
  background: url(../images/productlist/2.1.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 20px;
}
.wrap-productnav div.li2 span.liact{
  background: url(../images/productlist/2.png) no-repeat center center;
  background-size: 100%;

}
.wrap-productnav div.li3 span{
  width: 100%;
  height: 100px;
  background: url(../images/productlist/3.1.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 20px;
}
.wrap-productnav div.li3 span.liact{
  background: url(../images/productlist/3.png) no-repeat center center;
  background-size: 100%;
}
.wrap-productnav div.li4 span{
  width: 100%;
  height: 100px;
  background: url(../images/productlist/4.1.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 20px;
}
.wrap-productnav div.li4 span.liact{
  background: url(../images/productlist/4.png) no-repeat center center;
  background-size: 100%;
}
.one-title {
  font-size: 20px;
  color: #4A4A4A;
  font-weight: bold;
  margin: 30px 0;
}
.productclassification-one p {
  line-height: 25px;
}
.productclassification-two ul li {
  display: flex;
  height: 50px;
  background: #d2d2d2;
  justify-content: space-between;
  align-items: center;
}.productclassification-two ul li:nth-child(2n){
  background: #fff;

}
.productclassification-two ul li p{
  width: 50%;
  text-align: center;
  font-size: 18px;
  color: #4A4A4A;
}
.productclassification-two ul li p:nth-child(2){
  text-align: left;
}
.downloaddetalistitle {
  font-size: 24px;
  color: #4A4A4A;
  margin: 30px 0;
}
.downloaddetalisback {
  display: block;
  font-size: 16px;
}
.downloaddetalisback i {
  margin-right: 10px;
}
.downloaddetalis p {
  font-size: 16px;
  color: #4A4A4A;
  line-height: 25px;
}
.downloaddetalistitle-ziliao span{
  padding: 5px 0;
  border-bottom: 1px solid #002C76;
  margin-left: 15px;
}
.downloaddetalistitle-ziliao span a{
  color: #002C76;
  font-size: 16px;
}

.icon-ziliao{
  padding: 10px;
  background: url(../images/productlist/ziliao.png) no-repeat center center;
  background-size: 100%;
}