/* 首页 */
img {
  width: 100%;
}
.wrap{
  max-width: 1200px;
  height: auto;
  margin: auto;
}
.banner{
  position: relative;
  height: auto;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  background: #002C76;
  width: 100%;
  height: 144px;
  z-index: 9999;
}
.logo-wrap {
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pc-heard {
  position: absolute;
  top: 144px;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0,44,118, 0.7);
  z-index: 9999;
}
.nav-move {
  display: none;
}
.pc-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pc-nav ul {
  width: 800px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pc-nav ul li {
  width: 100px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  margin-right: 28px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}
.pc-nav ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 70px;

}
.pc-nav ul li.act{
  background: url(../images/nav-banner.png) no-repeat center center;
}
.pc-nav ul li.act a{
  color: #000;
}
.heard-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.heard-left a{
  margin-left: 11px;
}
.heard-left div{
  width: 170px;
  height: 30px;
  border:1px solid #fff;
  display: flex;
  border-radius: 15px;
  padding: 0 10px;
}
.heard-left div img {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}
.heard-left div input{
  width: 130px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}
.swiper-container img{
  width: 100%;
}
/* 移动端标题 */
.headerm {
  opacity: 0;
  position: absolute;
  top:-300%;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0,44,118, 0.7);
  z-index: 99;
  transition: all 1s;
}
.headerm ul{
  width:90%;
  margin: 0 auto;
}
.headerm li{
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.headerm li a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  color: #fff;
}
footer{
  background: #002C76;
  overflow: hidden;
}
.bottomlogo {
  max-width: 150px;
}
.footerbox {
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap ;
}
.footeritem {
  color: #fff;
  text-align: center;
  width: 13%;
  height: 200px;
  margin-bottom: 30px;
}
.footeritem p {
  height: 30px;
  line-height: 30px;
}
.footeritem img {
  max-width: 100px;
}
.footer-title {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
}
.copyright {
  font-size: 10px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center
}

.wrap-nav {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  margin-bottom: -40px;
}
.wrapbox {
  height: 80px;
  background:#002C76; 
  padding: 0 30px;
}
.wrapbox ul {
  display: flex;
  line-height: 80px;
}
.wrapbox ul li {
  height: 80px;
  line-height: 80px;
  margin-right: 50px;
}

.wrapbox ul li a{
  color: #fff;
}
.wrapbox ul li.wrapbox-act a{ 
  color: #ddd;
}
/* 列表 */
.home-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.item-big ,.item-litter {
  margin-bottom: 40px;
  position: relative;
}
.big-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  margin-left: 40px;
  margin-bottom: 20px;
  color: #fff;
}
.big-text p:nth-child(1) {
  width: 100%;
  font-size: 20px;
  margin-bottom: 14px;
}
.big-text p:nth-child(2) {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.consultation-name {
  width: 210px;
  height: 90px;
  margin: 0 auto 20px;
}
.consultationbox{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap ;
  margin-top: 80px;
}
.consultationbox .item{
  width: 22%;
  margin-bottom: 30px;
}
.itemTitle {
  width: 100%;
  height: 200px;
  background: #F2F2F2;
  padding: 30px;
  box-sizing: border-box;
  color: #002C76;
}
.itemTitle p {
  height: 100px;
  line-height: 25px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;
}

.itemTitle a {
  display: block;
  color: #002C76;
  margin-top: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
}
.itemTitle a i{
  display:block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  background: url(../images/right-act.png) no-repeat center center;
}
.itemTitle:hover{
  background: #002C76;
  color: #fff;
}
.itemTitle:hover a{
  color: #fff;
}
.itemTitle:hover a i{
  background: url(../images/right.png) no-repeat center center;
}
/* 解决方案 */
.solution {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.solutionitem {
  width: 23%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.solutionitem:hover  .solutionname{
  background: #002C76;
  bottom: 0px;

}
.solutionitem:hover  .solutionname p:nth-child(1) {
  color: #fff;
}
.solutionname {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,0.80);
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 1s;
}
.solutionname p:nth-child(1) {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: 0;
}
.solutionname p:nth-child(2) a{
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.solutionname p:nth-child(2) img {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
/* 产品详情页 */
.solutiondet .back{
  display: flex;
  align-items: center;
}
.solutiondet .back img{
  width: 14px;
  height: 24px;
  margin-right: 10px;
}
.solutiondet p{
  font-size: 18px;
  color: #4A4A4A;
  margin-bottom: 30px;
}
.solutiondetname {
  font-size: 24px;
  color: #4A4A4A;
}
.solutiondetlist {
  display: flex;
  justify-content:space-between;
  font-size: 18px;
  color: #4A4A4A;
}
/* 工程案例 */
.casebox{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.caselist {
  width: 32%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.caselist:hover .caselist-text {
  bottom: 0;
  background:#002C76;
  color: #fff;
}
.caselist-text {
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 100%;
  height: 130px;
  background: #F2F2F2;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all 1s;
}
.caselist-text p:nth-child(1){
  height: 40px;
  line-height: 40px;
  font-size: 22px;
}
.caselist-text p:nth-child(2){
  color: #fff;
  line-height: 20px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
}
